html::-webkit-scrollbar {
  display: none;
}

body {
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.gridCell {
  height: 100px;
}
